@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
main{
    display: flex;
    justify-content: space-between;
    background-color: beige;
}
.nav{
    width: 20%;
    height: 100vh;
    padding: 20px;
    background-color: #c05f05;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.e-nav .photo img{
    width: 120px;
    height: 50px;

}
.nav ul{
    list-style: none;
    margin-top: 20px;
}

.nav ul li a{
    margin: 15px 0;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.nav ul li span{
    padding-right: 10px;
}

.p-nav ul li span{
    padding-right: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 75%;
    padding: 20px;
    border-color: beige;
}
.content .ajout-restau{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}
.content .ajout-restau p{
    color: #999;
    font-size: 14px;
}

.content button{
    background: none;
    border: none;
}
.content button span{
    text-decoration: none;
    background-color: rgb(223, 131, 20);
    color: white;
    padding-bottom: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}
.find-zone{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.find-zone .zone{
    width: 85%;
}
.find-zone .zone select{
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.content .tableau{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
}
.content .tableau .ligne{
   background-color: #fff;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   padding: 10px;
   color: #000;
   font-size: 15px;
   /* border-radius: 10px; */
 }
 .content .tableau .ligne1{
    color: #999;
 }
 .content .tableau .ligne p{
    text-align: center;
 }

.content .tableau .ligne p img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.content .tableau .ligne p .modif{
    color: blue;
    margin: 5px;
}
.content .tableau .ligne p .supp{
    color: red;
    margin: 5px;
}
.content .tableau .ligne p .verif{
    color: darkgreen;
    background-color: aquamarine;
    padding: 3px 5px;
    border-radius: 15px;
}
.content .tableau .ligne p .attente{
    color: brown;
    background-color: bisque;
    padding: 3px 10px;
    border-radius: 15px;
}