.presentation{
    background: url(../images/banner-head-accueil.jpg);
    background-color: #ffb300;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 50px;
    position: relative;
}
.claire{
    position: absolute;
    background: rgb(175, 98, 4) ;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.9;
    mix-blend-mode: multiply;
}

.presentation .gauche{
    width: 35%;
    position: relative;
}

.presentation .gauche h1{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}
.presentation .gauche h1 span{
    color: #ffb300;
    font-weight: 700;
}
.presentation .gauche p{
    color: #fff;
}
.droite{
    margin-left: 50px;
    width: 45%;
    position: relative;
    /* height: 00px; */
    /* overflow: hidden; */
}
.droite img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.list-statis{
    background-color: #e4ccaa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-statis .statis{
    width:15%;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
}
.list-statis .statis h1{
    font-size: 16px;
    color: #e65100;
    font-weight: bold;
    margin: 10px 0;
}
.list-statis .statis p{
    font-size: 12px;
}

.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.services h1{
    margin: 20px;
    font-size: 30px;
}
.services p{
    color: #999;
    font-size: 14px;
}
.services .list-services{
    display: flex;
    justify-content: center;
}
.services .list-services .service{
    width: 25%;
    margin: 20px;
    background-color: #e9d9c3;
    border-radius: 20px;
    padding: 15px;
    /* text-align: left; */
    box-shadow: 15px 15px 30px rgba(0,0,0,0.1);
}
.services .list-services .service h1{
    font-size: 16px;
    color: #e65100;
}

.services .list-services .service p{
    font-size: 14px;
    color: #ee7839;
}

.services .list-services .service a{
    font-size: 14px;
    color: #e65100;
}

.carte h1{
    margin: 20px;
    font-size: 30px;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f5f4b7;
    margin-bottom: 50px;
}
.div-carte{
    border-radius: 20px;
}
.avi{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px;
    margin: 10px;
    width: 20%;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.avis .list-avis{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;

}
.avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avi .entete-avi .profil{
    padding: 15px;
    margin: 10px;
    border: 1px solid #ffb300;
    display: inline-block;
    border-radius: 50%;
}

.avi .entete-avi .nom-avis h3{
    font-weight: 500;
    font-size: 14px;
}
.avi .entete-avi .nom-avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avi .entete-avi .nom-avis p {
    font-weight: 500;
    font-size: 10px;
    color: #ffb300;
}
.avi .entete-avi {
    display: flex;
    /* padding: 10px; */
    
}

.avi p{
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    margin-left: 20px;
}
.commander{
    overflow: hidden;
    width: 100%;
}
.commander .clair{

    background: rgb(175, 98, 4);
    opacity: 0.9;
    width: 100%;
    
}
.commande{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: url(../images/banner-head-accueil.jpg);
    background-size:cover;
    background-position: center;
    
}

.commande h2{
    font-size: 28px;
    color: #000;
    margin: 10px;
}
.commande p{
    font-size: 15px;
    color: #ffb300;
    margin: 10px;
}
.commande button{
    background-color: #fff;
    padding: 15px;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
}

.commande button span{
    color: #ffb300;
}
.commande button:hover{
    background-color: #ee7839;
    padding: 15px 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.commande button:hover span{
    color: #fff;
}

.formulaire{
    background-color:#f5f4b7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulaire form{
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 30px 50px;
}
.formulaire div{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.formulaire div input,textarea{
    padding: 5px;
    border-radius: 5px;
}
input[type="submit"] {
    float: right;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fff;
    transition:  all 0.5s;
}
input[type="submit"]:hover {
    background-color: green;
    color: #fff;
    border-radius: 15px;
}