@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;

}
header{
    width: 100%;
    height: 50px;
    padding: 20px 5%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.logo{
    width: 15%;
    display: flex;
    justify-content: end;
}
.logo img{
    height: 50px;
    object-fit: cover;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px ;
}
nav ul li{
    padding: 5px 10px ;
}
nav ul li a:hover{
    padding: 5px 15px;
    background-color: #e65100;
    color: #fff;
    border-radius: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #999;
    transition: 0.5s;
}
.boutons-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.boutons-header button {
    margin:10px ;
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.boutons-header button:hover{
    color: black;
    background-color: #ffb300;
    border-radius: 10px;
}
.boutons-header button span{
    color: #999;
    font-size: 16px;
}
.boutons-header .btn {
    background-color: #e65100;
    border: 1px solid #e65100;
    border-radius: 10px;
}
.boutons-header .btn span a{
    color: #fff;
}
.boutons-header .btn:hover{
    background-color: #ffb300;
}


footer{
    background-color: rgba(2, 4, 29, 0.986);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;

}
footer .content-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 70px;
    border-bottom: 1px solid darkgrey;
}
footer .content-footer .content{
    width: 20%;
    
}
footer .content-footer .content h4{
    color: #fff;
    margin: 10px;
}
footer .content-footer .content ul{
    list-style: none;
}
footer .content-footer .content ul li{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
footer .content-footer .content ul li i{
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
footer p{
    margin-top: 30px;
    color: #fff;
}